name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v5

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: llvm-tools-preview

      - name: Cache Rust
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            crates/target
          key: ${{ runner.os }}-cargo-coverage-${{ hashFiles('crates/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-coverage-

      - name: Install Rust Tools
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest, cargo-llvm-cov

      - name: Run tests
        run: cargo test run

      - name: Run tests with coverage
        run: cargo llvm-cov nextest --output-path codecov.json --codecov

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
            files: codecov.json
            token: ${{ secrets.CODECOV_TOKEN }}
